/* You CSS goes in here */


.card {
    margin-bottom: 5px;
}




#plantcss {
    cursor: pointer;
    position: relative;
    top: 2%;
    left: 5%;
    width: 15%;
    display: none;
    z-index: 1;
}


#expmotive {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    z-index: 2;
    width: 10%;
    height: 50%;
}

#dna {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 40%;
    display: none;
    z-index: 2;
    width: 10%;
    height: 50%;
}

#plasmid {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 55%;
    display: none;
    z-index: 2;
    width: 15%;
    height: 60%;
}

#plasmidred {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 55%;
    display: none;
    z-index: 2;
    width: 15%;
    height: 80%;
}

#plantcallus {
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 75%;
    display: none;
    z-index: 2;
    width: 20%;
    height: 50%;
}




#newplant {

     cursor: pointer;
    position: relative;
    top: 2%;
    left: 5%;
    width: 15%;
    display: none;
    z-index: 1;

}

#twogenomicdna {
    position: absolute;
    top: 17.5%;
    left: 35%;
    width: 15%;
    height: 75%;
    cursor: pointer;
    /* stem outline 2D7600 */
    display: none;
}




#agarosegel {
    position: absolute;
    top: 30%;
    left: 60%;
    display: none;
    width: 20%;
    height: 70%;
    z-index: 0;
    cursor: pointer;
}




#plantsoil {
    position: relative;
    top: 5%;
    left: 5%;
    width: 20%;
    cursor: pointer;
    display: none;

}

#biopolymers {
    position: absolute;
    top: 1%;
    left: 40%;
    width: 20%;
    cursor: pointer;
    display: none;

}

#gcmcinstrument {
    position: absolute;
    top: 15%;
    left: 65%;
    width: 30%;
    cursor: pointer;
    display: none;

}

